header {
	background-color: var(--color-dark-navy);
	display: flex;
	flex-flow: row nowrap;
	width:100%;
	color: var(--text-white-high);
}

header > div {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 64px;
}

header div > h5 {
	color: var(--text-white-high);
	padding:  12px;
	font-weight: 400;
	text-align: center;
}header div > a {
	display: flex;
	justify-content: center;
	align-items: center;
}
header div > a > i {
	width: 32px;
	height: 32px;
	vertical-align: middle;
}

.button-help {
	position: absolute;
	top: 14px;
	right: 16px;
	
}

.button-help i {
	width: 32px;
	height: 32px;
	vertical-align: middle;
}

.button-help-submenus-background {
	opacity: 0;
	display: none;
	height: 100vh;
	left: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 1;
}

.button-help-submenus {
	display: none;
	background-color: #fff;
	color: var(--text-dark-high);
	z-index: 99;
	position: absolute;
	top: 36px;
	right: 12px;
	padding: 12px 0;
	border-radius: 4px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	white-space: nowrap;
}
.button-help-submenu {
	line-height: 40px;
	cursor: pointer;
	text-transform: capitalize;
	padding: 4px 16px;
}

.button-help-submenus li:hover {
	background-color: var(--color-gray-10);
}
.button-help-submenu i {
	margin-right: 16px;
	vertical-align: middle;
}
.button-help-submenus hr {
	border: 0.5px solid var(--color-gray-10);
	margin: 0 16px;
}