<div>
	<h5 class="page-title">{{NAME}}</h5>

	<div class="button-help">
		<div><i class="ic-question-circle white"></i></div>
		<div class="button-help-submenus-background"></div>
		<ul class="button-help-submenus">
			<li class="button-help-submenu">Help Center</li>
			<li class="button-help-submenu contact-support-button">Contact Support</li>
		</ul>
	</div>
</div>