#uploaderOverlayWindow {
	z-index: 9999;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
}


#uploaderOverlayWindow .modal {
	position: fixed;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	z-index: 10001;
	/*text-align: center;*/
}

.uploaderUploadFileInput {
	display: none;
}

.uploaderUploadFolderInput {
	display: none;
}



#uploaderOverlayWindow .dropBoxField {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
}