#dataControls {
	display: grid;
	flex-direction: row;
	grid-gap: 0.5em;
	grid-template-columns: 100px 25vw 50px 25vw auto;
}

#dataControls {
	padding:0 0 0.5em 0;
}

.disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

#dataControls button:not(:last-child) {
	margin-right: 0.5em;
	float:left;
}

#dataControls button:last-child {
	float:right;
}

#dataEditModal .modal {
	top:10vh;
	max-height:80vh;
	min-width:400px;
	width:75vw;
}

#dataEditModal .container {
	display:grid;
	grid-template-rows: auto 88px;
	padding:0;
	
}

#dataEditModal form {
	display:flex;
	flex-flow:row wrap;
	justify-content: center;
	align-items: center;
	max-height: calc(80vh - 144px);
	overflow-y:auto;
	padding:0px 24px;
}

#dataEditModal form > div {
	padding:10px;
	box-sizing: border-box;
	align-self: flex-start;
}

#dataEditModal form > div > * {
	width:100%;
	padding:0.25em;
	font-size:18px;
	font-family:sans-serif;
}

#dataEditModal form label {
	text-transform: capitalize;
}

#dataEditModal .container > .buttons-container {
	margin-top:0;
	padding:14px 24px 24px 24px;
}

#dataDetailsModal .modal {
	top:10vh;
	max-height:80vh;
	min-width:400px;
	width:75vw;
}

#dataDetailsModal .container {
	display:grid;
	grid-template-rows: auto 88px;
	padding:0;
}

#dataDetailsModal .container pre {
	max-height: calc(80vh - 175px);
	overflow: auto;
}

#dataDetailsModal .container > .buttons-container {
	margin-top:0;
	padding:14px 24px 24px 24px;
}

#data-download {
	font-size:12px;
}