:root {
	--git-arrow-rotate: 180deg;
	--git-connect-display: block;
	--git-past-connections-display: none;
	--git-outputs-display: none;
}

.migrater-page-container {
	display: flex;
	flex-flow: column;
	align-items: center;
	background-color: var(--color-gray-10);
	padding: 40px 0;
}

.migrater-main-container {
	width: 960px;
	background-color: #fff;
	margin-bottom: 40px;
}

.migrater-title-container {
	width: 100%;
	border-bottom: solid var(--color-primary) 2px;
}

.migrater-title {
	color: var(--color-primary);
	font-size: 20px;
	font-weight: 500;
	line-height: 48px;
	padding: 8px 40px;
}

.migrater-content-box {
	position: relative;
	padding: 24px 40px;
}

.migrater-content > * {
	margin-bottom: 16px;
}

.migrater-content > *:last-child{
	margin-bottom: 0;
}

.migrater-content p {
	font-weight: 300;
}

.migrater-content button {
	width: fit-content;
	min-width: 160px;
}
.migrater-right-dropdown {
	text-align: right;
	color: var(--color-primary);
	line-height: 1.5;
}
.migrater-git-arrow {
	height: 24px;
	width: 32px;
	transform: translate(0, 0.5rem) rotate(var(--git-arrow-rotate));
}
.migrater-git-grid {
	display: grid;
	grid-gap: 16px;
	grid-template-columns: 15% auto;
	margin-bottom: 16px;
}
.migrater-git-grid > p {
	align-self: center;
}

.migrater-git-buttons-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.migrater-git-buttons-container > * {
	margin-left: 16px;
}

.migrater-git-outputs-container {
	width: 100%;
	min-height: 240px;
	background: black;
	color: white;
	border-radius: 8px;
	display: var(--git-outputs-display);
	justify-content: center;
	padding: 16px;
	padding-bottom: 0 !important;
}

.migrater-git-outputs {
	width: 100%;
	max-height: 208px;
	border: 0;
	padding-bottom: 0 !important;
	background: inherit;
	color: inherit;
	resize: none;
}


.migrater-git-past-connection {
	display: grid;
	grid-gap: 8px;
	grid-template-columns: 80% auto;
	border-bottom: 1px solid var(--color-gray-100);
	padding: 16px 0;
}
.migrater-git-past-connection:last-child {
	border-bottom: 0;
}


.migrater-git-past-connection-buttons-container {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-rows: 1fr 1fr;
}


.migrater-git-past-connection-auth-container > * {
	margin-bottom: 8px;
}
.migrater-git-past-connection-button-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.migrater-git-connect-page {
	display: var(--git-connect-display) !important;
}

.migrater-git-past-connections-page {
	position: relative;
	display: var(--git-past-connections-display) !important;
}

.migrater-git-past-connections-container {
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 24px 40px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	height: fit-content;
	max-height: 30vh;
	border-radius: 4px;
	background: white;
	padding: 16px;
	overflow-x: hidden;
	overflow-y: auto;
}


.hidden {
	display: none;
}