<!DOCTYPE html>
<html>
	<head>
		<title>Backup | Qoom</title>
		<link rel="stylesheet" type="text/css" href="/libs/icons/icons.css" />
		<link rel="stylesheet" type="text/css" href="/libs/administrater/css/qoom.css" />
		<script src="/libs/socketio.js"></script>
		<script type="module" defer="defer" src="/libs/migrater/section.js"></script>
		<style>
			{{BASECSS}}
			{{STYLES}}
		</style>
		<link rel="stylesheet" type="text/css" href="/libs/migrater/section.css" />
	</head>
	<body>
		
		<header>
			{{MENU}}
			{{HEADER}}
		</header>
		<main class="migrater-page-container">
			<section class="migrater-main-container">
				<div class="migrater-title-container">
					<h4 class="migrater-title">Download</h4>
				</div>
				<div class="migrater-content-box">
					<div class="migrater-content">
						<p>Back up all of your files to your computer</p>
						<button class="qoom-main-btn qoom-button-full qoom-button-small migrater-download-button">Download</button>
					</div>
				</div>
			</section>
			<section class="migrater-main-container">
				<div class="migrater-title-container">
					<h4 class="migrater-title">Connect To Git</h4>
				</div>
				<div class="migrater-content-box">
					<div class="migrater-content">
						<p>Connect your entire coding space to a git repository.</p>
						<p class="migrater-right-dropdown migrater-git-show-past-connections">Select from past connections<i class="primary ic-chevron-up migrater-git-arrow"></i></p>
						<div class="migrater-git-past-connections-page migrater-content migrater-full-width">
							<div class="migrater-git-past-connections-container">
								<div class="migrater-git-past-connection">
									<div class="migrater-git-past-connection-auth-container">
										<p>Access Tocken: {token}</p>
										<p>Git User Name: {username}</p>
										<p>Git URL: {url}</p>
									</div>
									<div class="migrater-git-past-connection-button-container">
										<div class="qoom-main-btn qoom-button-full qoom-button-small">Delete</div>
										<div class="qoom-main-btn qoom-button-full qoom-button-small migrater-git-past-connection-button">Use</div>
									</div>
								</div>
							</div>
						</div>
						<div class="migrater-git-connect-page migrater-content migrater-full-width">
							<div class="form-input">
								<div class="migrater-git-grid input-items">
									<p>Access Token</p>
									<input type="text" class="migrater-input migrater-git-auth-token" />
								</div>
								<div class="migrater-git-grid input-items">
									<p>Git User Name</p>
									<input type="text" class="migrater-input migrater-git-username" />
								</div>
								<div class="migrater-git-grid input-items">
									<p>Git URL</p>
									<input type="text" class="migrater-input migrater-git-url" />
								</div>
							</div>
							<div class="migrater-git-buttons-container">
								<button class="qoom-main-btn qoom-button-full qoom-button-small migrater-git-pull-button" disabled>Pull</button>
								<button class="qoom-main-btn qoom-button-full qoom-button-small migrater-git-push-button" disabled>Push</button>
							</div>
						</div>
						
						<div class="migrater-git-outputs-container">
							<textarea class="migrater-git-outputs"></textarea>
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer>{{FOOTER}}</footer>
		<script>
			{{BASEJS}}
			{{SCRIPT}}
		</script>
	</body>
</html>