main > div {
	margin-top:4rem;
	width:100%;
	height:100%;
	display:grid; 
	grid-template-rows: auto auto;
}

main > div > div:first-child {
	text-align: center;
	font-size:3rem;
	font-weight:bold;
	padding:1rem;
}

main > div > div:last-child {
	display:flex;
	align-items:center;
	flex-flow: row wrap;
	justify-content: center;
}

main > div > div > button {
	width: 300px;
	height:200px;
	margin: 10px;
	border: solid 1px #DADADA;
	background-color: #EFEFEF;
	font-size: 2rem; 
	box-shadow: 0.1em 0.1em 0.2em rgba(0,0,0,0.2);
	border-radius:0.5rem;
}

main > div > div > button:hover {
	box-shadow: 0.1em 0.1em 0.3em rgba(0,0,0,0.3);
	cursor:pointer;
}

*:focus, *:active {
	outline:none !important;
}