<div id="gitIntegrationOverlayWindow">
	<div class="modal-background"></div>
    <link rel="stylesheet" href="/libs/lander/css/qoom.css" />
    <link rel="stylesheet" href="/libs/migrater/explorer-git-integration/overlay.css" />
    <div class="modal">
        <div class="modal-title">
            <h1>Upload</h1>
        </div>
        <div class="container">
            <div class="modal-description">
                <p>Manage Your Git Project Here</p>
            </div>
        	<div class="git-integration-inputs">
    		    <div class="form-input filepath">
	            	<div
		                class="input-items default empty"
		            >
		                <input
		                    type="text"
		                    placeholder="folderName"
		                    class="git-integration-overlay-folder-name"
		                    required
		                />
		        	</div>
		        	<br />
		    	    <div
		                class="input-items default empty"
		            >
		                <input
		                    type="text"
		                    placeholder="git token"
		                    class="git-integration-overlay-git-token"
		                    required
		                />
		            </div>
		            <br />
		            <div
		                class="input-items default empty"
		            >
		                <input
		                    type="text"
		                    placeholder="git username"
		                    class="git-integration-overlay-git-username"
		                    required
		                />
		            </div>
		            <br />
		            <div
		                class="input-items default empty"
		            >
		                <input
		                    type="text"
		                    placeholder="git url"
		                    class="git-integration-overlay-git-url"
		                    required
		                />
		            </div>
	            </div>
        	</div>
        	<div class="git-integration-outputs-container git-integration-out">
				<textarea class="git-integration-outputs"></textarea>
			</div>
            
            <div class="buttons-container">
				<div class="git-integration-input-buttons">
					<button
					    class="qoom-main-btn qoom-button-outline qoom-button-small git-integration-cancel-button"
					    type="cancel"
					>
					    Cancel
					</button>
					<button
					    class="qoom-main-btn qoom-button-full qoom-button-small git-integration-overlay-submit-button"
					    type="submit"
					    disabled
					>
					    Import
					</button>
				</div>
				<div class="git-integration-output-buttons">
					<button
					    class="qoom-main-btn qoom-button-outline qoom-button-small git-integration-close-button"
					    type="close"
					>
					    Close
					</button>
				</div>
            </div>
        </div>
    </div>
</div>